.articlesText {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: center;
    font-size: medium;
    margin-left: 10%;
    margin-right: 10%;
}


.headlines {
    text-align: center;
    margin-top: 1%;
}

.h1 {
    margin-left: 15%;
    margin-right: 15%;
}